.main-feed {
  width: 20%;

  display: block;
  justify-content: center;
  align-items: center;
}

.empty-list {
  text-align: center;
}

mat-label {
  font-size: large;
}

.media-list {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;

  width: 80%;
  max-width: 600px;

  @media only screen and (max-width: 768px) { 
    width: 95%;
  }
}
