<mat-tab-group dynamicHeight mat-stretch-tabs class="sticky-header">
  <mat-tab color="primary" label="Regular Feed">
    <div>
      <!-- Regular feed -->
      <app-home-container [FeedType]="feedReg" [FeedImages]="feedImages" [MediaLoaded]="mediaLoaded" (onSelectLike)="updateLikedList($event)" (onAppendMedia)="updateFeed()">
      </app-home-container>
    </div>
  </mat-tab>
  <mat-tab color="warning" label="Liked Feed">
    <div>
      <!-- Liked feed -->
      <app-home-container [FeedType]="feedLiked" [FeedImages]="likedImages" (onSelectLike)="updateLikedList($event)"></app-home-container>
    </div>
  </mat-tab>
</mat-tab-group>
