<button mat-fab color="primary" (click)="toggleMenu()"
  class="menu-button">
  <i class="material-icons" *ngIf="!openMenu">menu</i>
  <i class="material-icons" *ngIf="openMenu">close</i>
</button>

<button
  mat-mini-fab
  class="action-button one"
  *ngIf="openMenu"
  color="basic"
  (click)="returnToTop()"

  [matTooltip]="scrollTopMsg"
  matTooltipPosition="left"
  [attr.aria-label]="scrollTopMsg"
>
  <i class="material-icons">arrow_upward</i>
</button>

<button
  mat-mini-fab
  class="action-button two"
  *ngIf="openMenu"
  color="basic"
  (click)="refreshFeed()"

  [matTooltip]="refreshMsg"
  matTooltipPosition="left"
  [attr.aria-label]="refreshMsg"
>
  <i class="material-icons">refresh</i>
</button>

<!-- <button
  mat-fab
  class="action-button three"
  *ngIf="openMenu"
  color="basic"

  [matTooltip]="lightingMsg"
  matTooltipPosition="left"
  [attr.aria-label]="lightingMsg"
>
  <i class="material-icons">bedtime</i>
</button> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="favicon.ico" height="90%">
    <span class="toolbar-title">NASA Views</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group 
  dynamicHeight 
  mat-stretch-tabs 
  class="sticky-header" 
  animationDuration="0ms"
>
  <mat-tab [label]="forYouLabel">
    <ng-template matTabContent>
      <!-- Skeleton loader for For You feed -->
      <app-feed-loader
        [ShowLoading]="mediaLoaded"
      ></app-feed-loader>

      <!-- For You feed -->
      <app-home-container 
        *ngIf="mediaLoaded" 
        [FeedType]="feedReg" 
        [FeedImages]="feedImages"
        [EmptyMsg]="forYouEmpty"
        (onSelectLike)="updateLikedList($event)" (onAppendMedia)="updateFeed()"
      ></app-home-container>

      <!-- Skeleton loader for infinite scrolling -->
      <app-feed-loader
        [ShowLoading]="scrollingLoaded"
      ></app-feed-loader>
    </ng-template>
  </mat-tab>
  <mat-tab 
    [label]="likedPostsLabel"
  >
    <ng-template matTabContent>
      <!-- Liked feed -->
      <app-home-container 
        [FeedType]="feedLiked" 
        [FeedImages]="likedImages" 
        [EmptyMsg]="likedEmpty"
        (onSelectLike)="updateLikedList($event)"
      ></app-home-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>
