<div>
  <mat-card class="media-base-card">
    <mat-card-header class="media-header">
      <mat-card-title>{{ nasaImage.title }}</mat-card-title>
      <mat-card-subtitle>{{ nasaImage.copyright }}</mat-card-subtitle>
      <mat-card-subtitle>{{ nasaImage.date }}</mat-card-subtitle>
    </mat-card-header>

    <div class="image-w" *ngIf="isImage">
      <img [src]="nasaImage.url">
      <div *ngIf="!isMobile" class="cover">
        <p class="media-description-hover">
          {{ nasaImage.explanation }}
        </p>
      </div>
    </div>

    <div *ngIf="!isImage" class="video-container">
      <iframe [src]="sanitizeVideo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <mat-card-actions>
      <button class="like-button" (click)="onLike()" [color]="toggleLikeColour" mat-fab [attr.aria-label]="likePostMessage" [matTooltip]="likePostMessage">
        <mat-icon>favorite</mat-icon>
      </button>
      <button *ngIf="isImage && !isMobile" (click)="openDialog()" color="primary" mat-fab [attr.aria-label]="mediaDialogMessage" [matTooltip]="mediaDialogMessage">
        <mat-icon>pageview</mat-icon>
      </button>
      <button *ngIf="isMobile || !isImage" (click)="openDialog(false)" color="primary" mat-fab [attr.aria-label]="explanationDialogMessage" [matTooltip]="explanationDialogMessage">
        <mat-icon>info</mat-icon>
      </button>
      <a [href]="nasaImage.url" target="_blank" color="primary" mat-fab [attr.aria-label]="shareMessage" [matTooltip]="shareMessage">
        <mat-icon>share</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
