mat-card-subtitle {
  margin-bottom: 0.5rem;
}

.media-base-card {
  background-color: #ECECEC;
}

.media-header {
  text-align: left;
}

.image-w {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.image-w img {
  border-radius: 15px;
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.cover {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  transition: all 1s linear;

  display: table;
  overflow: hidden;
  border-radius: 15px;
}

.image-w:hover .cover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  transition: all 0.2s linear;
}

.media-description-hover {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: table-cell;
  vertical-align: middle;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding: 10px;
}

mat-card-actions button, a {
  margin-left: 1%;
  margin-right: 1%;
}
